#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-right {
padding-right: 50;
}



body {
  background: black;
  font-family: 'Varela', sans-serif;

}

.glitch {
  color: white;
  font-size: 35px;
  position: absolute;
  width: auto;
  margin: 0 auto;
  top: 0;
  left: 50;
}

@keyframes noise-anim {
  0% {
    clip: rect(88px, 9999px, 74px, 0);
  }
  6.66667% {
    clip: rect(37px, 9999px, 78px, 0);
  }
  13.33333% {
    clip: rect(7px, 9999px, 35px, 0);
  }
  20% {
    clip: rect(51px, 9999px, 34px, 0);
  }
  26.66667% {
    clip: rect(43px, 9999px, 28px, 0);
  }
  33.33333% {
    clip: rect(77px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 78px, 0);
  }
  46.66667% {
    clip: rect(43px, 9999px, 57px, 0);
  }
  53.33333% {
    clip: rect(9px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(74px, 9999px, 85px, 0);
  }
  66.66667% {
    clip: rect(46px, 9999px, 4px, 0);
  }
  73.33333% {
    clip: rect(4px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 27px, 0);
  }
  86.66667% {
    clip: rect(35px, 9999px, 33px, 0);
  }
  93.33333% {
    clip: rect(26px, 9999px, 7px, 0);
  }
  100% {
    clip: rect(66px, 9999px, 11px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 7s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(19px, 9999px, 65px, 0);
  }
  6.66667% {
    clip: rect(47px, 9999px, 58px, 0);
  }
  13.33333% {
    clip: rect(92px, 9999px, 33px, 0);
  }
  20% {
    clip: rect(57px, 9999px, 56px, 0);
  }
  26.66667% {
    clip: rect(78px, 9999px, 99px, 0);
  }
  33.33333% {
    clip: rect(59px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  46.66667% {
    clip: rect(3px, 9999px, 90px, 0);
  }
  53.33333% {
    clip: rect(23px, 9999px, 76px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 14px, 0);
  }
  66.66667% {
    clip: rect(31px, 9999px, 87px, 0);
  }
  73.33333% {
    clip: rect(31px, 9999px, 7px, 0);
  }
  80% {
    clip: rect(71px, 9999px, 32px, 0);
  }
  86.66667% {
    clip: rect(9px, 9999px, 95px, 0);
  }
  93.33333% {
    clip: rect(82px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 94px, 0);
  }
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: 10px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}


canvas {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

#Text

.post {
  position: fixed;
  color: white;
  align-content: center;
  }

  .postcontainer {
    color: #FFFFFF;
    z-index: 500;
  }

  .wrapper {
    color: #FFFFFF;
  }



div.box {
  background-color: #000000;
  opacity: 0.9;
  margin-top: 0%;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Varela', sans-serif;
}
